<mat-toolbar class="header">
  <div class="header-content">
    <div class="profile-image" (click)="navigateHome()" role="button" tabindex="0"></div>
    
    <div class="nav-links">
      <a mat-button (click)="scrollToSection('summary')">Summary</a>
      <a mat-button (click)="scrollToSection('experience')">Experience</a>
      <a mat-button (click)="scrollToSection('skills')">Skills</a>
      <a mat-button (click)="scrollToSection('education')">Education</a>
      <a mat-button (click)="scrollToSection('contact')">Contact</a>
    </div>

    <div class="actions">
      <button mat-icon-button (click)="themeService.toggleTheme()">
        <mat-icon>{{ (themeService.isDarkMode$ | async) ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
      
      <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu-button">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a mat-menu-item (click)="scrollToSection('summary')">Summary</a>
  <a mat-menu-item (click)="scrollToSection('experience')">Experience</a>
  <a mat-menu-item (click)="scrollToSection('skills')">Skills</a>
  <a mat-menu-item (click)="scrollToSection('education')">Education</a>
  <a mat-menu-item (click)="scrollToSection('contact')">Contact</a>
</mat-menu> 